$theme-yellow: #f2b138;
$theme-blue: #34c3be;
$theme-light: #a9bec8;
$theme-dark: #1e3640;
$theme-darker: #1a2b33;

$font-white: #ffffff9f;
$font-light: #a9bec8;
$font-dark: #1a2b33;
$font-black: #000000;

@mixin buttons-feedback($color) {
  &:hover {
    transform: translateY(2px);
    box-shadow: 0px 2px 1px $color;
  }
  &:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 1px $color;
  }
}

@mixin home-button-feedback() {
  &:hover {
    transform: translateY(2px);
    box-shadow: 0px 2px 1px #7a868d;
  }
  &:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 1px #7a868d;
  }
}

/* -------- CSS Reset -------- */
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

button {
font-family: inherit;
font-size: 100%;
}

/* -------- Custom CSS -------- */

body {
  font-family: 'Poppins',  system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr;
}

.wrapper {
  height: 100%;
  background-color: $theme-darker;

  display: grid;
  grid-template-rows: 1fr 0fr;
  align-content: space-between;
}

.wrapper-github{
  width: 200px;
  a {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.7rem;
    color: white;
    text-decoration: none;
    padding: 5px;

    display: flex;
    align-items: center;
    gap: 5px;
    img {
        padding: 0;
        height: 25px;
        width: 25px;
    }
    &:hover p {
        display: none;
    }
    &:hover:after {
        content: "Click to see code";
    }
  }
}

/* -------- Dialog Pre-round-------- */

.dialog-pre-round{
  box-sizing: content-box;
  color: $font-white;
  border: 5px solid $theme-darker;
  background-color: $theme-darker;
  height: 100vh;
  width: 100vw;
  
  &[open] { // only set dialog to grid when open. if not, dialog persists even when closed
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 20px;
  }
  &::backdrop {
    background-color: yellow;
    margin: 0px auto;
  }
  h1 {
    font-size: 3.5rem;
    font-weight: bold;
    span:first-child {
      color: $theme-blue;
    }
    span:last-child {
      color: $theme-yellow;
    }
  }
  >div {
    background-color: $theme-dark;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 5px 1px #111f25;
    padding: 15px 10px;
    text-align: center;
    h2 {
      font-size: 1.2rem
    }
    h3 {
      font-size: 0.8rem;
    }
    div {
      background-color: $theme-darker;
      padding: 5px;
      margin: 10px;
      border-radius: 8px;

      display: grid;
      grid-template-columns: 1fr 1fr;
      button {
        font-size: 2rem;
        padding: 5px 20px;
        color: $font-white;
        background-color: transparent;
        border: none;
        transition: scale 0.4s ease-in-out, background-color 0.4s ease-in-out, border-radius 1s;
        &:focus {
          scale: 90%;
          color: $font-dark;
          background-color: $theme-light;
          border-radius: 8px;
          border: none;
          outline: 0;
        }
      }
    }
  }
  .button-game-mode {
    border: none;
    border-radius: 8px;
    height: 42px;
    width: 200px;
    margin-top: 20px;

    cursor: pointer;
    transition: all 0.2s;
    &[data-vs="ai"] {
      background-color: $theme-blue;
      box-shadow: 0px 4px 1px #21807b;
      @include buttons-feedback(#21807b);
    }
    &[data-vs="player"] {
      background-color: $theme-yellow;
      box-shadow: 0px 4px 1px #a77a27;
      @include buttons-feedback(#a77a27);
    }
  }
}

/* -------- Dialog Post-round-------- */

.dialog-post-round {
  box-sizing: content-box;
  background-color: $theme-darker;
  height: 250px;
  border: 5px solid $theme-darker;
  width: 100vw;
  &[open] {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
  &::backdrop {
    background-color: black;
    opacity: 0.4;
  }
  &__header {
    color: $font-light;
    font-size: 1.5rem;
    text-align: center;
    &--x {
      color: $theme-yellow;
    }
    &--o {
      color: $theme-blue;
    }
    &--tie {
      color: $theme-light;
    }
  }
  &__winner {
    color: $font-light;
    font-size: clamp(1rem, 1rem + 4vw, 5rem);
    line-height: 5rem;
    font-weight: bold;
    &--x {
      color: $theme-blue;
    }
    &--o {
      color: $theme-yellow;
    }
    &--tie {
      color: $theme-light;
    }
  }
  div {
    margin: 15px 0px;

    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    button:first-child {
      background-color: $theme-light;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 3px 1px #7a868d;
      padding: 0;
      height: 35px;
      width: 35px;
      transition: all 0.2s;

      justify-self: start;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      outline: none;
      img {
        height: 32px;
        width: 32px;
        padding: 5px;
      }
      @include home-button-feedback();
    }
    .button-play-again {
      font-size: 1.1rem;
      color: rgb(22, 22, 22);
      border: none;
      border-radius: 5px;
      height: 35px;
      width: 160px;
      cursor: pointer;
      transition: all 0.2s;
      &--x {
        background-color: $theme-yellow;
        box-shadow: 0px 4px 1px #a77a27;
        @include buttons-feedback(#a77a27);
      }
      &--o {
        background-color: $theme-blue;
        box-shadow: 0px 4px 1px #21807b;
        @include buttons-feedback(#21807b);
      }
      &--tie {
        color: $font-dark;
        background-color: $theme-light;
        box-shadow: 0px 4px 1px #7a868d;
        @include buttons-feedback(#7a868d);
      }
    }
  }
}

/* -------- Tic Tac Toe -------- */

.tic-tac-toe {
  display: grid;
  align-items: center;
  header {
    display: grid;
    justify-items: center;
    align-self: end;
    div {
      width: 350px;
      padding: 0px 20px;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
      align-self: end;
      gap: 20px;
      h1 {
        font-size: 2.5rem;
        font-weight: bold;
        span:first-child {
          color: $theme-blue;
        }
        span:last-child {
          color: $theme-yellow;
        }
      }
      p {
        font-size: 1.1rem;
        color: $font-white;
        text-align: center;
        height: 40px;
        width: 100px;
        border-radius: 8px;
        box-shadow: 0px 3px 1px #111e24;
        background-color: $theme-dark;
        display: grid;
        align-items: center;
      }
      button {
        background-color: $theme-light;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 3px 1px #7a868d;
        padding: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s;
        img {
          height: 32px;
          width: 32px;
          padding: 5px;
        }
        @include home-button-feedback();
      }
    }
  }
  main {
    margin: 10px 0px 30px;

    display: grid;
    grid-template: repeat(3, 130px)/repeat(3, 130px);
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 25px;
    .grid {
      font-size: 6rem;
      font-weight: 900;
      line-height: 1rem;
      background-color: $theme-dark;
      border-radius: 15px;
      box-shadow: 0px 6px 1px #111e24;
      height: 100%;
      width: 100%;
      transition: all 0.4s ease-in-out;
      
      display: grid;
      justify-content: center;
      align-content: center;
      &__x {
        color: $theme-blue;
      }
      &__o {
        color: $theme-yellow;
      }

      /* Grid hover animations */
      &--hover-x {
        &::after {
          color: $theme-dark;
          opacity: 0;
          content: 'X';
          -webkit-text-stroke: 1px $theme-blue;
          transition: all 0.3s;
        }
        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }
      &--hover-o {
        &::after {
          color: $theme-dark;
          opacity: 0;
          content: 'O';
          -webkit-text-stroke: 1px $theme-yellow;
          transition: all 0.3s;
        }
        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  footer {
    padding: 0px 20px;

    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 180px));
    justify-content: center;
    justify-items: center;
    align-self: start;
    gap: 15px;
    div {
      color: $font-dark;
      height: 60px;
      border-radius: 8px;;
      width: 100%;
      display: grid;
      justify-items: center;
      p {
        font-size: 0.8rem;
        align-self: end;
      }
      h3 {
        font-size: 1.2rem;
        line-height: 1.4rem;
        font-weight: bold;
      }
    }
    .x-score {
      background-color: $theme-blue;
    }
    .tie-score {
      background-color: $theme-light;
    }
    .o-score {
      background-color: $theme-yellow;
    }
  }
}

/* -------- Breakpoints -------- */
 
@media all and (max-width: 480px) { 
  .tic-tac-toe {
    main {
      grid-template: repeat(3, 95px)/repeat(3, 95px);
      gap: 15px;
      .grid {
        font-size: 4.5rem;
      }
    }
  }
}